[submodule "wormdatamodel"]
	path = wormdatamodel
	url = git@github.com:luyanaa/wormdatamodel.git
[submodule "pumpprobe"]
	path = pumpprobe
	url = git@github.com:luyanaa/pumpprobe.git
[submodule "wormbrain"]
	path = wormbrain
	url = git@github.com:luyanaa/wormbrain.git
[submodule "wormfunconn"]
	path = wormfunconn
	url = git@github.com:luyanaa/worm-functional-connectivity.git
[submodule "mistofrutta"]
	path = mistofrutta
	url = git@github.com:francescorandi/mistofrutta.git
[submodule "savitzkygolay"]
	path = savitzkygolay
	url = git@github.com:leiferlab/savitzkygolay.git
